/.phpunit.cache
/.phpunit.result.cache
/coverage
/coverage.xml
/playwright-report
/test-results
/bootstrap/ssr
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!.env.example
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
*.sqlite
*.sqlite3
*.db
*.pem
*.p12
*.pfx
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.vscode
/.zed
